<main class="flex-shrink-0">
    <div class="container">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class='card'>
            <div class='card-header'>
                <h5>Modifica Regista</h5>
            </div>



            <form (ngSubmit)="update(registaForm)" #registaForm="ngForm">
                <div class='card-body'>
                    <input type="hidden" name="id" id="id" value="{{regista.id}}">

                    <div class="col-md-6">
                        <label>Nome <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Inserire il Nome" required minlength="2"
                            id="nome" name="nome" [(ngModel)]="regista.nome" #nomeVar="ngModel"
                            [ngClass]="{'is-invalid': (nomeVar.touched || nomeVar.dirty) && !nomeVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="nomeVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                            <span *ngIf="nomeVar.errors?.['minlength']">
                                Il campo deve avere almeno due caratteri.
                            </span>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Cognome <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Inserire il cognome" required
                            minlength="2" id="cognome" name="cognome" [(ngModel)]="regista.cognome"
                            #cognomeVar="ngModel"
                            [ngClass]="{'is-invalid': (cognomeVar.touched || cognomeVar.dirty) && !cognomeVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="cognomeVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                            <span *ngIf="cognomeVar.errors?.['min']">
                                Il campo deve contenere al minimo il valore 10.
                            </span>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Nickname <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Inserire nickname" required minlength="5"
                            id="nickName" name="nickName" [(ngModel)]="regista.nickName" #nickNameVar="ngModel"
                            [ngClass]="{'is-invalid': (nickNameVar.touched || nickNameVar.dirty) && !nickNameVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="nickNameVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                            <span *ngIf="nickNameVar.errors?.['minlength']">
                                Il campo deve avere almeno 5 caratteri.
                            </span>
                        </span>
                    </div>

                    <div class=" col-md-6">
                        <label>Data di nascita<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" placeholder="dd/MM/yy" required id="dataDiNascita"
                            name="dataDiNascita" title="formato : gg/mm/aaaa" [(ngModel)]="dataNascitaString"
                            #dataDiNascitaVar="ngModel"
                            [ngClass]="{'is-invalid': (dataDiNascitaVar.touched || dataDiNascitaVar.dirty) && !dataDiNascitaVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="!dataDiNascitaVar.valid">
                                Il campo deve essere correttamente valorizzato
                            </span>
                        </span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Sesso <span class="text-danger">*</span></label>
                        <select id="sesso" class="form-control" required name="sesso"
                            [(ngModel)]="regista.sesso" #sessoVar="ngModel"
                            [ngClass]="{'is-invalid': (sessoVar.touched || sessoVar.dirty) && !sessoVar.valid }">
                            <option value=""> - Selezionare - </option>
                            <option value="MASCHIO">Maschio</option>
                            <option value="FEMMINA">Femmina</option>
                        </select>
                        <span class="invalid-feedback">
                            <span *ngIf="sessoVar.errors?.['required']">
                                Prego selezionare un valore
                            </span>
                        </span>
                    </div>

                </div>
                <div class='card-footer'>
                    <button type="submit" name="submit" value="submit" id="submit"
                        class="btn btn-primary">Modifica</button>
                    <a routerLink="/regista/list" class='btn btn-outline-secondary' style='width:80px'>
                        <i class='fa fa-chevron-left'></i> Back
                    </a>
                </div>
            </form>


            <!-- end card body -->


            <!-- end card -->
        </div>


        <!-- end container -->
    </div>

</main>